<main class="index">
    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <h1 class="mb-1">SysTraDoc </h1>
            <h3 class="mb-5">
                <em>Sistema Node y MySql</em>
            </h3>
            <a href="/sigin" class="btn btn-primary">
                SysTraDoc
            </a>
        </div>
    </header>

</main>