
{{#if Msg_ }}
            <!--
            <div class="container-lg" >
                  <div class="row " >
                        <div class="col" >
                              <div class="alert alert-danger alert-dismisible fade show " role="alert">
                                    
                                    {{Msg_ }} 
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                          <span aria-hidden="true" >&times;</span>
                                    </button>

                              </div>
                        </div>
                  </div>
            </div>
            -->
            <div class="container-lg" >
                  <div class="row " >
                        <div class="col" >
                              <div class="pgn-wrapper" data-position="top">
                                    <div class="pgn push-on-sidebar-open pgn-bar">
                                          <div class="alert alert-danger alert-dismisible fade show">
                                                <div class="container">
                                                      <span>{{Msg_ }}</span>
                                                      <button type="button" class="close" data-dismiss="alert">
                                                            <span aria-hidden="true">×</span>
                                                            <span class="sr-only">Close</span>
                                                      </button>
                                                </div>
                                          </div>
                                    </div>
                              </div>
                        </div>
                  </div>
            </div>
{{/if}}
      

{{#if Msg_Exito}}
            <div class="container-lg">
                  <div class="row">
                        <div class="col-md-4 mx-auto">
                              <div class="alert alert-success alert-dismisible fade show" role="alert">
                                    
                                    {{Msg_Exito }} 
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                          <span aria-hidden="true" >&times;</span>
                                    </button>

                              </div>
                        </div>
                  </div>
            </div>
      {{/if}}

