
        {{#if Ses_usu}}


<nav class="page-sidebar" data-pages="sidebar">
      <!-- BEGIN SIDEBAR MENU TOP TRAY CONTENT-->
      <div class="sidebar-overlay-slide from-top" id="appMenu">
        <div class="row">
          <div class="col-xs-6 no-padding">
            <a href="#" class="p-l-40"><img src="/Template/assets/img/demo/social_app.svg" alt="socail">
            </a>
          </div>
          <div class="col-xs-6 no-padding">
            <a href="#" class="p-l-10"><img src="/Template/assets/img/demo/email_app.svg" alt="socail">
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6 m-t-20 no-padding">
            <a href="#" class="p-l-40"><img src="/Template/assets/img/demo/calendar_app.svg" alt="socail">
            </a>
          </div>
          <div class="col-xs-6 m-t-20 no-padding">
            <a href="#" class="p-l-10"><img src="/Template/assets/img/demo/add_more.svg" alt="socail">
            </a>
          </div>
        </div>
      </div>
      <!-- END SIDEBAR MENU TOP TRAY CONTENT-->
      <!-- BEGIN SIDEBAR MENU HEADER-->
      <div class="sidebar-header">
        <img src="/Template/assets/img/logo_white.png" alt="logo" class="brand" data-src="/Template/assets/img/logo_white.png" data-src-retina="/Template/assets/img/logo_white_2x.png" width="78" height="22">
        <div class="sidebar-header-controls">
          <!--<button type="button" class="btn btn-xs sidebar-slide-toggle btn-link m-l-20 hidden-md-down" data-pages-toggle="#appMenu"><i class="fa fa-angle-down fs-16"></i>
          </button>-->
          <button type="button" class="btn btn-link hidden-md-down" data-toggle-pin="sidebar"><i class="fa fs-12"></i>
          </button>
        </div>
      </div>
      <!-- END SIDEBAR MENU HEADER-->
      <!-- START SIDEBAR MENU -->
      <div class="sidebar-menu">
        <!-- BEGIN SIDEBAR MENU ITEMS-->
        <ul class="menu-items">
          <li class="m-t-30 ">
            <a href="/Template/index.html" class="detailed">
              <span class="title">Dashboard</span>
              <span class="details">12 New Updates</span>
            </a>
            <span class="bg-success icon-thumbnail"><i class="pg-home"></i></span>
          </li>

          <li> 
            <a href="javascript:;">
              <span class="title">Academico</span>
              <span class=" arrow"></span>
            </a>
            <span class="icon-thumbnail"><i class="pg-form"></i></span>
            <ul class="sub-menu">
              <li class="">
                <a href="/Mantenimiento/ciclo">Ciclo </a>
                <span class="icon-thumbnail">ca</span>
              </li>
              <li class="">
                <a href="form_layouts.html">Periodo </a>
                <span class="icon-thumbnail">pa</span>
              </li>
              <li class="">
                <a href="form_layouts.html">Nivel</a>
                <span class="icon-thumbnail">pa</span>
              </li>
              <li class="">
                <a href="form_layouts.html">Grado</a>
                <span class="icon-thumbnail">pa</span>
              </li>
              <li class="">
                <a href="form_layouts.html">Seccion</a>
                <span class="icon-thumbnail">pa</span>
              </li>
              <li class="">
                <a href="form_wizard.html">Curso</a>
                <span class="icon-thumbnail">cu</span>
              </li>

            </ul>
          </li>

          <li>
            <a href="javascript:;">
              <span class="title">Docente</span>
              <span class=" arrow"></span>
            </a>
            <span class="icon-thumbnail"><i class="pg-form"></i></span>
            <ul class="sub-menu">
              <li class="">
                <a href="form_wizard.html">Registrar Nota</a>
                <span class="icon-thumbnail">cl</span>
              </li>
              <li class="">
                <a href="form_wizard.html">Registrar Conducta</a>
                <span class="icon-thumbnail">cl</span>
              </li>
              <li class="">
                <a href="form_layouts.html">Asistencia Alumnos</a>
                <span class="icon-thumbnail">pa</span>
              </li>
            </ul>
          </li>

          <li>
            <a href="javascript:;">
              <span class="title">Psicologico</span>
              <span class=" arrow"></span>
            </a>
            <span class="icon-thumbnail"><i class="pg-form"></i></span>
            <ul class="sub-menu">
              <li class="">
                <a href="form_wizard.html">Registrar expediente</a>
                <span class="icon-thumbnail">cl</span>
              </li>
                <li class="">
                <a href="form_wizard.html">Generar Seguimiento</a>
                <span class="icon-thumbnail">cl</span>
              </li>
            </ul>
          </li>

          <li>
            <a href="javascript:;">
              <span class="title">Auxiliar</span>
              <span class=" arrow"></span>
            </a>
            <span class="icon-thumbnail"><i class="pg-form"></i></span>
            <ul class="sub-menu">
              <li class="">
                <a href="form_wizard.html">Incidentes Alumnos</a>
                <span class="icon-thumbnail">cl</span>
              </li>
            </ul>
          </li>

          <li>
            <a href="javascript:;">
              <span class="title">Tablas</span>
              <span class=" arrow"></span>
            </a>
            <span class="icon-thumbnail"><i class="pg-form"></i></span>
            <ul class="sub-menu">
              <li class="">
                <a href="form_wizard.html">Area</a>
                <span class="icon-thumbnail">ar</span>
              </li>
               <li class="">
                <a href="form_elements.html">Cargo</a>
                <span class="icon-thumbnail">ca</span>
              </li>
              
               <li class="">
                <a href="form_elements.html">Colaborador</a>
                <span class="icon-thumbnail">co</span>
              </li>
              
              <li class="">
                <a href="form_wizard.html">Estudiante</a>
                <span class="icon-thumbnail">es</span>
              </li>                              
            </ul>
          </li>

          <li>
            <a href="javascript:;">
              <span class="title">Seguridad</span>
              <span class=" arrow"></span>
            </a>
            <span class="icon-thumbnail"><i class="pg-form"></i></span>
            <ul class="sub-menu">
              <li class="">
                <a href="form_wizard.html">Usuarios</a>
                <span class="icon-thumbnail">usu</span>
              </li>
                              
            </ul>
          </li>

          <li>
            <a href="javascript:;">
              <span class="title">Utilitarios</span>
              <span class=" arrow"></span>
            </a>
            <span class="icon-thumbnail"><i class="pg-form"></i></span>
            <ul class="sub-menu">
              <li class="">
                <a href="form_wizard.html">Generar Copia</a>
                <span class="icon-thumbnail">bk</span>
              </li>
                              
            </ul>
          </li>

          <li class="">
            <a href="/logout">
              <span class="title">Salir</span>
            </a>
            <span class="icon-thumbnail"><i class="pg-grid"></i></span>
          </li>

        </ul>
        <div class="clearfix"></div>
      </div>
      <!-- END SIDEBAR MENU -->
    </nav>

        {{else}}

          {{!--  
          <li class="nav-item">
            <a class="nav-link" href="/sigin">Ingresar</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/signup">Registrarme</a>
          </li>
           --}}

        {{/if}}
