
        {{#if Ses_usu}}


<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
      <a class="navbar-brand" href="/">Sistema Links</a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav">

        <ul class="navbar-nav ml-auto">

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Enlaces
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/links">Listar Enlaces</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/links/add">Agregar Link</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/links/BuscarSP_ME">BuscarSP_ME</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/links/add_ME">Add SP_ME</a>
            </div>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" href="/profile">Perfil</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
          </li>
         
          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
          </li>
        </ul>

      </div>
  </div>

</nav>

        {{else}}

          {{!--  
          <li class="nav-item">
            <a class="nav-link" href="/sigin">Ingresar</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/signup">Registrarme</a>
          </li>
           --}}

        {{/if}}
