      <!-- START PAGE CONTENT WRAPPER -->
      <div class="page-content-wrapper ">
        <!-- START PAGE CONTENT -->
        <div class="content ">

                      <!-- START JUMBOTRON -->
          <div class="jumbotron" data-pages="parallax">
            <div class=" container-fluid   container-fixed-lg sm-p-l-0 sm-p-r-0">
              <div class="inner">
                <!-- START BREADCRUMB -->
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="#">Inicio</a></li>
                  <li class="breadcrumb-item active">Ciclo Academico</li>
                </ol>
                <!-- END BREADCRUMB -->                
              </div>
            </div>
          </div>
          <!-- END JUMBOTRON -->

          <!-- START CONTAINER FLUID -->
          <div class=" container-fluid   container-fixed-lg">
            <div class="row justify-content-md-center">
              <div class="col-lg-6">
                <!-- START card -->
                <div class="card card-default">
                  <div class="card-header ">
                    <div class="card-title">
                      Ciclo Academico
                    </div>
                  </div>
                  <div class="card-block">
                    
                    <form class="" role="form">
                      
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group form-group-default required">
                            <label>ciclo </label>
                            <input type="text" class="form-control" required>
                          </div>
                        </div>
                       
                        <div class="col-md-6">
                            <div class="form-group form-group-default required">
                                <label>AÑO</label>
                                <input type="text" class="form-control"  >
                            </div>
                        </div>
                      </div>
 
                      <div class="row">
                        <div class="col-md-6">

                            <div class="form-group form-group-default input-group col-md-10">
                                <div class="form-input-group">
                                    <label>Inicia</label>
                                    <input type="email" class="form-control" placeholder="Pick a date" id="datepicker-component1">
                                </div>
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-6">
                            <div class="form-group form-group-default input-group col-md-10">
                                <div class="form-input-group">
                                    <label>Finaliza</label>
                                    <input type="email" class="form-control" placeholder="Pick a date" id="datepicker-component2">
                                </div>
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                            </div>
                          
                        </div>                        
                      </div>

                        <div class="row justify-content-md-center">
                            <div class="col-md-12">
                                    <div class="form-group">
                                        <button class="btn btn-success btn-block"> Guardar </button>
                                    </div>
                            </div>
                        </div>
                      
                    </form>
                  </div>
                </div>
                <!-- END card -->
              </div>
              
            </div>
          </div>
          <!-- END CONTAINER FLUID -->
        </div> 
        
	</div>