<div class=" container-fluid   container-fixed-lg">
            <!-- START card -->
            <div class="card card-default">
              <div class="card-header ">
                <div class="card-title">Date Controls
                </div>
                <div class="tools">
                  <a class="collapse" href="javascript:;"></a>
                  <a class="config" data-toggle="modal" href="#grid-config"></a>
                  <a class="reload" href="javascript:;"></a>
                  <a class="remove" href="javascript:;"></a>
                </div>
              </div>
              <div class="card-block">
                <div class="row">
                  <div class="col-lg-4">
                    <h5>Simple Date
      							<span class="semi-bold">Picker</span>
      						</h5>
                    <p>Date picker is powered by boostrap date picker, this is customized in way that it suites our theme and design, Have a look!</p>
                    <br>
                    <div id="datepicker-component" class="input-group date col-md-8 p-l-0">
                      <input type="text" class="form-control"><span class="input-group-addon"><i
								class="fa fa-calendar"></i></span>
                    </div>
                    <br>
                    <div class="form-group form-group-default input-group col-md-10">
                      <div class="form-input-group">
                        <label>Check In</label>
                        <input type="email" class="form-control" placeholder="Pick a date" id="datepicker-component2">
                      </div>
                      <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <h5>Date
        							<span class="semi-bold">Range</span>
        						</h5>
                    <p>Date range can be set by the same plugin, this is use full when taking two dates at a time
                    </p>
                    <br>
                    <div class="input-daterange input-group" id="datepicker-range">
                      <input type="text" class="input-sm form-control" name="start" />
                      <div class="input-group-addon">to</div>
                      <input type="text" class="input-sm form-control" name="end" />
                    </div>
                    <br>
                    <div class="input-prepend input-group">
                      <span class="add-on input-group-addon"><i
									class="glyphicon glyphicon-calendar fa fa-calendar"></i></span>
                      <input type="text" style="width: 100%" name="reservation" id="daterangepicker" class="form-control" value="08/01/2013 1:00 PM - 08/01/2013 1:30 PM" />
                    </div>
                    <br>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="input-group bootstrap-timepicker">
                          <input id="timepicker" type="text" class="form-control">
                          <span class="input-group-addon"><i class="pg-clock"></i></span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <h5>Advance
							<span class="semi-bold">Settings</span>
						</h5>
                    <p>Some advance setting that you can do with this calender, like to start from years an disable sections of dates</p>
                    <br>
                    <div id="datepicker-embeded"></div>
                  </div>
                </div>
              </div>
            </div>
            <!-- END card -->
          </div>